
@{
    ViewData["Title"] = "Login";
}

<section id="main-content">
    <div class="container-sm mt-3">
        <ul>
            <li><span> <a href="./home.html" class="link">Home</a></span></li>
            <li style="color:#d3d1d1">
                <i class="fal fa-angle-right fa-2xs "></i><span>
                    <a style="color:#d3d1d1"
                       href="#" disabled>MY ACCOUNT</a>
                </span>
            </li>
        </ul>
        <div class="inputs">
            <div class="row">
                <div class="col-xl-6  col-sm-12">
                    <div class="login">
                        <div class="txt">
                            <h6>LOGIN</h6>
                        </div>
                        <span>Username or email address *</span>
                        <div class="input-group mt-2">
                            <input type="email" class="form">
                        </div><br>
                        <span>Password *</span>
                        <div class="input-group mt-3">
                            <input type="password" class="form">
                        </div><br>
                        <input type="checkbox" name="remember">
                        <label for="remember">Remember me</label><br>
                        <button class="btn mt-3">Log in</button><br>
                        <a href="#" class=" mb-5">Lost your password?</a>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <div class="register">
                        <div class="text">
                            <h6>REGISTER</h6>
                        </div>
                        <span>Email address *</span>
                        <div class="input-group mt-2">
                            <input type="email" class="form">
                        </div><br>
                        <span>Passwor *</span>
                        <div class="input-group mt-3">
                            <input type="password" class="form">
                        </div><br>
                        <p>
                            Your personal data will be used to support your experience throughout this website, to
                            manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.
                        </p>
                        <button class="btn mt-3">Register</button><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>