
@{
    ViewData["Title"] = "Contact";
}

<section id="main">
    <div class="container-sm container-lg mt-5">
        <div class="head-text">
            <h1 style="font-size:40px;">Get In Touch</h1>
            <p style="font-size:14px;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat
                unde quam dolor culpa veritatis inventore, aut commodi eum veniam vel.
            </p>
        </div>
        <div class="info-box">
            <div class="row">
                <div class="col-xl-3 col-sm-12  content location">
                    <i class="fas fa-map-marker-alt fa-2xl"></i>
                    <h5 class="txt">102 Street 2714 Donovan</h5>
                    <span class="txt">Lorem ipsum dolar site amet discont</span>
                </div>
                <div class="col-xl-3 col-sm-12  content phone">
                    <i class="fas fa-phone-alt"></i>
                    <h5 class="txt">+02 1234 567 88</h5>
                    <span class="txt">Lorem ipsum dolar site amet discont</span>
                </div>
                <div class="col-xl-3 col-sm-12 content mail">
                    <i class="fal fa-envelope fa-2xl"></i>
                    <h5 class="txt">info@example.com</h5>
                    <span class="txt">Lorem ipsum dolar site amet discont</span>
                </div>
            </div>
        </div>
        <div class="user-info">
            <div class="row ">
                <div class=" col-xl-9 col-sm-9  header">
                    <h2 class="text">Send Us</h2>
                    <p class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde
                        quam
                        dolor culpa veritatis inventore, aut commodi eum veniam vel.
                    </p>
                </div>
                    <form>
                        <div class="row mt-4 form ">
                            <div class="col-xl-5 col-sm-12  mt-5">
                                <label for="">Your name *</label>
                                <input type="name" class="form-control">
                            </div>
                            <div class="col-xl-5 col-sm-12 mt-5">
                                <label for="">Your email *</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-xl-10 col-sm-12  mt-5">
                                <label for="">Subject *</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xl-10 col-sm-12  mt-5">
                                <label for="">Your message *</label>
                                <input type="text" class="form-control message">
                            </div>
                            <div class="col-xl-5 col-sm-12  mt-3">
                                <button type="submit" class="btn ">Send message</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

    </div>
</section>