
@{
    ViewData["Title"] = "Product";
}

<section id="product">
    <div class="container-sm mt-3">
        <ul>
            <li><span><a href="./home.html" class="home">Home</a></span></li>
            <li>
                <i class="fal fa-angle-right fa-2xs"></i><span>
                    <a href="https://klbtheme.com/bacola/product-category/meats-seafood/">
                        MEATS & SEAFOOD
                    </a>
                </span>
            </li>
            <li>
                <i class="fal fa-angle-right fa-2xs"></i><span style="color:#d3d1d1">
                    ALL NATURAL ITALIAN-STYLE
                    CHICKEN MEATBALLS
                </span>
            </li>
        </ul>
        <div class="product-card mt-5">
            <div class="container card">
                <h1>All Natural Italian-Style Chicken Meatballs</h1>
                <div class="review-info">
                    <div class="row">
                        <div class="col-xl-1 col-sm-12 brand-info">
                            <span style="color:#d3d1d1;">Brands:</span><span>Welch's</span>
                        </div>
                        <div class="col-xl-2 col-sm-12 box points">
                            <img src="./assets/icons/star.png"><img src="./assets/icons/star.png"><img src="./assets/icons/star.png"><img src="./assets/icons/star.png"><i class="fal fa-star"></i><a href="#" style="color:#d3d1d1;">1 REVIEW</a>
                        </div>
                        <div class="col-xl-1 col-sm-12 sku">
                            <span style="color:#d3d1d1;">SKU:</span><span>ZU49VOR</span>
                        </div>
                    </div>
                </div>
                <div class="percent mt-5">
                    <a href="#">23%</a>
                </div>
                <div class="recomedatoin">
                    <a href="#">RECOMMEDED</a>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-sm-12 product-image">

                        <img src="./assets/img/product-image-62-768x691.jpg" alt="">
                        <div class="other-images">
                            <div class="row  mt-3">
                                <img src="./assets/img/product-image-62-150x150.jpg">
                                <img src="./assets/img/product-image2-47-150x150.jpg">
                                <img src="./assets/img/product-image3-35-150x150.jpg">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-12">
                        <div class="product-info">
                            <span style="color:#d3d1d1;  text-decoration: line-through;">$9.35</span>
                            <span style="color:red; font-size: 30px; font-weight:1000px;">$7.25</span>
                            <div class="stock mt-3">
                                <span>IN STOCK</span>
                            </div>
                            <p class="mt-3">
                                Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus
                                malesuada
                                tincidunt. Class aptent taciti sociosqu ad litora torquent
                            </p>
                            <div class="add-cart">
                                <div class="count">
                                    <div class="minus curcile">
                                        <p>-</p>
                                    </div> <span>1</span>
                                    <div class="sum curcile">
                                        <p>+</p>
                                    </div>
                                    <button type="submit" class="btn button"><a href="#">Add to cart</a></button>
                                </div>
                            </div>
                            <div class="product-action mt-5">
                                <button type="submit" class="btn wishlist button ">
                                    <a href="#">
                                        <i class="fas fa-heart"></i>Add to Wishlist
                                    </a>
                                </button>
                                <a href="#"><img src="./assets/icons/up-down.png" alt=""> COMPARE</a>
                                <i class="fa-thin fa-arrow-down-arrow-up"></i>
                            </div>
                            <div class="check mt-5">
                                <p><img src="./assets/icons/tick.png" alt=""> Type:Organic</p>
                                <p><img src="./assets/icons/tick.png" alt=""> MFG:Jun 4 2021</p>
                                <p><img src="./assets/icons/tick.png" alt=""> Life:30 days</p>
                            </div>
                            <div class="product-type mt-3">
                                <ul>
                                    <li style="color:#9B9BB4;">
                                        Category:<a href="#" style="color:#71778E;">
                                            Meats &
                                            Seafood
                                        </a>
                                    </li>
                                    <li style="color:#9B9BB4;">
                                        Tags:<a href="#"
                                                style="color:#71778E;">chicken,natural,organic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social mt-5">
                                <div class="row">
                                    <div class="links facebook col-xl-1 col-sm-12"
                                         style="background-color: #3B5998;"><i class="fab fa-facebook-f"></i></div>
                                    <div class="links twitter col-xl-1 col-sm-12"
                                         style="background-color: #1DA1F2;"><i class="fab fa-twitter"></i></div>
                                    <div class="links pinterest col-xl-1 col-sm-12"
                                         style="background-color: #E60023;"><i class="fab fa-pinterest-p"></i></div>
                                    <div class="links linkedin col-xl-1 col-sm-12"
                                         style="background-color: #0075B5;"><i class="fab fa-linkedin-in"></i></div>
                                    <div class="links reddit col-xl-1 col-sm-12" style="background-color: #FF4500;">
                                        <i class="fab fa-reddit"></i>
                                    </div>
                                    <div class="links whatsapp col-xl-1 col-sm-12"
                                         style="background-color: #25D366;"><i class="fab fa-whatsapp"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-12">
                        <div class="side">
                            <div class="col-xl-3 col-sm-12 covid">
                                <span>Covid-19 Info: We keep delivering.</span>
                            </div>
                            <div class="main-side-info mt-3 col-xl-3 col-sm-12">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="fal fa-truck"></i></div>
                                        <div class="text">Free Shipping apply to all orders over $100</div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fal fa-glass fa-lg"></i></div>
                                        <div class="text">Guranteed 100% Organic from natural farmas</div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fal fa-usd-circle fa-xl"></i></div>
                                        <div class="text">1 Day Returns if you change your mind</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="tab-menu">
                    <div class="tab">
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-1">DESCRIPTION</li>
                            <li class="tab-link" data-tab="tab-2">ADDITIONAL INFORMATION</li>
                            <li class="tab-link" data-tab="tab-3">REVIEWA (1)</li>
                        </ul>
                    </div>
                    <div id="tab-1" class="tab-content current">
                        <p>
                            Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna in
                            dui finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel, blandit
                            feugiat ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam
                            ultricies sodales nunc, in pellentesque lorem mattis quis. Cras imperdiet est in
                            nunc tristique lacinia. Nullam aliquam mauris eu accumsan tincidunt. Suspendisse
                            velit ex, aliquet vel ornare vel, dignissim a tortor.
                        </p>
                        <p>
                            Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend nunc
                            a, lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio, feugiat
                            eu nunc sit amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit amet
                            eros sit amet, ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur
                            laoreet rhoncus blandit. Aenean vel diam ut arcu pharetra dignissim ut sed leo.
                            Vivamus faucibus, ipsum in vestibulum vulputate, lorem orci convallis quam, sit amet
                            consequat nulla felis pharetra lacus. Duis semper erat mauris, sed egestas purus
                            commodo vel.
                        </p>
                    </div>
                    <div id="tab-2" class="tab-content">
                        <div class="text">
                            <p>Brands</p>
                        </div>
                        <div class="text">
                            <p>Welch's</p>
                        </div>

                    </div>
                    <div id="tab-3" class="tab-content">
                        <div class="container">
                            <div class="review">
                                <h6>1 REVIEW FOR ALL NATURAL ITALIAN-STYLE CHICKEN MEATBALLS</h6>
                                <div class="user-info">
                                    <img src="./assets/img/person.jpeg" alt="">
                                    <ul>
                                        <li>admin-<span style="color:#9B9BB4;">May 1,2021</span></li>
                                        <li>
                                            Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium.
                                        </li>
                                    </ul>
                                </div>
                                <div class="user-commet">
                                    <h5>Add a review</h5>
                                    <hr>
                                    <span class="mt-5">
                                        Your email address will not be published. Required fields are
                                        marked *
                                    </span>
                                    <p>Your rating *</p>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class=" col-1 rate one"><i class="fas fa-star"></i></div>
                                                <div class="col-2 rate two">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                </div>
                                                <div class="col-2 rate three">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                </div>
                                                <div class="col-2 rate four">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                </div>
                                                <div class="col-3 rate five">
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span>Your review *</span>
                                    <div class="mt-2">
                                        <textarea></textarea>
                                    </div>
                                    <span>Name*</span>
                                    <div class="mt-2">
                                        <input class="input" type="text">
                                    </div>
                                    <span>Email*</span>
                                    <div class="mt-2">
                                        <input class="input" type="email">
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            Save my name, email, and
                                            website in this browser for the next time I comment.
                                        </label>
                                    </div>
                                    <button class="btn btn-primary" type="submit"><strong>Submit</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-cards">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="first-product-container">
                    <div class="row">
                        <div class="col-3">
                            <div class="product-card me-5">
                                <div class="card " style="width: 20rem;">
                                    <div class="container">
                                        <div class="discount">
                                            <p>23%</p>
                                        </div>
                                        <div class="arrows-icon">
                                            <i class="fal fa-arrows fa-lg"></i></i></i></i>
                                        </div>
                                        <div class="wishlist-icon"><i class="fa-solid fa-heart"></i></div>
                                        <img class="card-img-top"
                                             src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <div class="first-card-content">
                                                <a href="">All Natural Italian-Style Chicken Meatballs</a>
                                                <p>IN STOCK</p>
                                            </div>
                                            <div class="card-star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked "></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <p>1</p>
                                            </div>
                                            <div class="card-product-price">
                                                <del aria-hidden="true"> $9.35 </del>
                                                <p>$7.25</p>
                                            </div>
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn btn-primary btn-lg active" role="button"
                                                   aria-pressed="true"
                                                   style="width: 100%; border-radius: 25px; height: 45px; background-color: #0a58ca; font-size: 16px;">
                                                    Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card me-5">
                                <div class="card" style="width: 20rem;">
                                    <div class="container">
                                        <div class="discount">
                                            <p>24%</p>
                                        </div>
                                        <div class="arrows-icon">
                                            <i class="fal fa-arrows fa-lg"></i></i></i></i>
                                        </div>
                                        <div class="wishlist-icon"><i class="fa-solid fa-heart"></i></div>
                                        <img class="card-img-top"
                                             src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-60-346x310.jpg"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <div class="first-card-content">
                                                <a href="">All Natural Italian-Style Chicken Meatballs</a>
                                                <p>IN STOCK</p>
                                            </div>
                                            <div class="card-star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked "></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <p>1</p>
                                            </div>
                                            <div class="card-product-price">
                                                <del aria-hidden="true"> $4.29</del>
                                                <p>$3.29</p>
                                            </div>
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn btn-primary btn-lg active" role="button"
                                                   aria-pressed="true"
                                                   style="width: 100%; border-radius: 25px; height: 45px; background-color: #0a58ca; font-size: 16px;">
                                                    Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card me-5">
                                <div class="card" style="width: 20rem;">
                                    <div class="container">
                                        <div class="discount">
                                            <p>19%</p>
                                        </div>
                                        <div class="arrows-icon">
                                            <i class="fal fa-arrows fa-lg"></i></i></i></i>
                                        </div>
                                        <div class="wishlist-icon"><i class="fa-solid fa-heart"></i></div>
                                        <img class="card-img-top"
                                             src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <div class="first-card-content">
                                                <a href="">All Natural Italian-Style Chicken Meatballs</a>
                                                <p>IN STOCK</p>
                                            </div>
                                            <div class="card-star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked "></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <p>1</p>
                                            </div>
                                            <div class="card-product-price">
                                                <del aria-hidden="true"> $24 </del>
                                                <p>$19.50</p>
                                            </div>
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn btn-primary btn-lg active" role="button"
                                                   aria-pressed="true"
                                                   style="width: 100%; border-radius: 25px; height: 45px; background-color: #0a58ca; font-size: 16px;">
                                                    Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card me-5">
                                <div class="card" style="width: 20rem;">
                                    <div class="container">

                                        <img class="card-img-top"
                                             src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-45-346x310.jpg"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <div class="first-card-content">
                                                <a href="">All Natural Italian-Style Chicken Meatballs</a>
                                                <p>IN STOCK</p>
                                            </div>
                                            <div class="card-star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked "></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <p>1</p>
                                            </div>
                                            <div class="card-product-price">
                                                <p class="av">$7.25 - $49.99</p>
                                            </div>
                                            <div class="add-to-cart-btn">
                                                <a href="#" class="btn btn-primary btn-lg active" role="button"
                                                   aria-pressed="true"
                                                   style="width: 100%; border-radius: 25px; height: 45px; background-color: #0a58ca; font-size: 16px;">
                                                    Add
                                                    to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

